stages:
  - test
  - deploy

variables:
  GO_VERSION: "1.25"
  GKE_CLUSTER: gitlab-runner-cluster
  GKE_ZONE: europe-west10-b
  GCP_PROJECT: cse-gr1

.default_go_job:
  image: golang:${GO_VERSION}
  before_script:
    - go version

unit-tests:
  stage: test
  extends: .default_go_job
  tags:
    - cse-gr1-runner
  script:
    - |
      set -e
      for d in src/*; do
        if [ -f "$d/go.mod" ]; then
          echo "Running tests in $d"
          cd $d
          go test ./...
          cd -
        fi
      done
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "main"'

deploy-production:
  stage: deploy
  image: gcr.io/k8s-skaffold/skaffold:v2.16.1
  tags:
    - cse-gr1-runner
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - echo "Deploying tag $CI_COMMIT_TAG"
    - echo "$GCP_SERVICE_KEY" | base64 -d > gcp-key.json
    - gcloud auth activate-service-account --key-file=gcp-key.json
    - gcloud config set project $GCP_PROJECT
    - gcloud container clusters get-credentials $GKE_CLUSTER --zone $GKE_ZONE --project $GCP_PROJECT --quiet
    - skaffold run --default-repo=gcr.io/$GCP_PROJECT
  environment:
    name: production

